* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  rgb(239, 235, 228);
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  hr {
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #ccc9c9;
  }

.day{
  font-family: "Nunito", sans-serif;
    position: absolute;
    top: 50px;
    left: 270px;

    padding: 0px;
    border-radius:  20px ;
    border: 1px solid transparent;
    width: 100px;
    height: 40px;

    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
    z-index: 9;
    background-color: rgb(48, 48, 48);
    color: white;

} .day:hover {
  transition: 1s;
    background-color: rgb(90, 88, 88);
    color: white;
    border: white;
}
.Btnclose{

    position: absolute;
    top: 50px;
    left: 270px;
    font-family: "Nunito", sans-serif;
    padding: 0px;
    border-radius:  20px ;
    border:none;
    width: 100px;
    height: 40px;

    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
    display: none;
    background-color: rgb(239, 235, 228);
    color: black;
    

} 
.Btnclose:hover {

  background-color: rgb(201, 201, 201);
  border: white;

}